$primary:#f48fb1;
$primary-light: #ffc1e3;
$primary-dark: #bf5f82;

$secondary:#fce4ec;
$secondary-light:#ffffff;
$secondary-dark:#c9b2ba;

$primary-text: #424242;
$secondary-text:#fce4ec;
$tertiary-text: #999999;
// #ffd4e7