
header {
    text-align:center;
    font-size: calc(0.75rem + 1vw);
}
header h1 {
    font-size: 3em;
    font-family: Playfair Display;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    margin: 0;
    margin: 0;
}

header h1 a{
    &:hover {
        color: #f29fc6;
    }
    color: black;
}

header p {
    font-size: 0.75em;
    font-family: Poppins;
    margin: 0;
    padding:0;
    color: grey;
}

header hr {
    border: solid 0.5px lightgray;
}

