.blogentry {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem;
}

.entrydate {
    margin-right: 0.5rem;
}

.entrycategory{
    color: #f29fc6;
    font-weight: bold;
    margin: 0 0.25rem;
}


.imgFill{
    width: 100%;
    padding-bottom: 100%;
}
.entryimg {
  width: 20%;
  position: relative;
}

.entryimg img{
width: 100%;
height:100%;
object-fit: cover;
position: absolute;
left: 0;
top: 0;
}

.entrycopy {
  width: 80%;
  font-family: 'Poppins', sans-serif;
  padding: 0 1rem;
  box-sizing: border-box;
}

.copy h1,
.copy h2,
.copy h3 {
    font-family: Playfair Display;
    margin: 0 0 1rem;
  }