@import "../basestyles/colors.scss";

.homepage{
    max-width: 1600px;
    margin: 0 auto
}

.homepage .instagramApp{
    flex-wrap: nowrap;
    max-width: unset;
    display: flex;
}


.homepage .instagramApp{
    flex-wrap: nowrap;
    max-width: unset;
    display: flex;
}